{% extends 'students/base.html' %}

{% block content %}
    <h1>Contact Us Page</h1>
    <p>This contact form is for the Django Software Foundation - the legal and fundraising arm of the Django project.
        
        If you want to report a bug, feature request, or documentation issue in Django, use the ticket tracker.

        If you want to report a problem with this website, use the GitHub repo.  
        
        If you've got questions about how to use Django, use the Django Forum.</p>

{% endblock %}